<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href=" http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<form action="/login" method="post">
    <h3>username: <input type="text" name="id" /></h3>
    <h3>password: <input type="password" name="psw" /></h3>
    <p><input type="text" name="vrifyCode" />  <img alt="验证码" onclick = "this.src='/defaultKaptcha?d='+new Date()*1" src="/defaultKaptcha" /></p>
    <input type="submit" value="Submit" />
</form>
</body>
</html>